.kaufman__triangle {
    background-image: url(../../../images/kaufman-triangle.svg);
    display: flex;
    position: absolute;
    height: 877px;
    width: 877px;
    top: 0;
    right: -210px;
    z-index: 1;
    animation: rotation 20s infinite linear;
  }